body{
	background-color: #fafafa;
	font-family: "Roboto";
}
#page{
	padding-top: 60px;
	color: #333;
	
}
h1{
	font-weight: bold;
	margin-bottom: 2rem;
	font-size: 2rem;
	letter-spacing: 1px;
	line-height: 120%;
}
h1 small{
	font-size: 0.8rem;
	letter-spacing: 0;
}
.title{
	font-weight: bold;
}
img{
	max-width: 100%;
}
.gutters-10{
    margin-left:-5px;
    margin-right:-5px;
}
.gutters-10>div{
    padding-right:5px;
    padding-left:5px;
}
.mb10{
	margin-bottom: 10px;
}
#footer{
	
}

#copyright{
	text-align: center;
	font-size: 0.8rem;
	padding: 20px 0 40px;
}